terraform {
  backend "azurerm" {
    resource_group_name  = "replace-with-state-resource-group"
    storage_account_name = "replacewithstateaccount"
    container_name       = "tfstate"
    key                  = "hayasend/azure-container-apps.tfstate"
    use_azuread_auth     = true
  }
}
